a.mats-link,
a.accent-link {
  color: #b01928;
}

a.mats-link:hover,
a.mats-link:focus {
  color: #801323;
  text-decoration: underline;
}

a.accent-link:hover,
a.accent-link:focus {
  color: #801323;
  text-decoration: underline;
}
